<?xml version="1.0"?>
<config>
    <modules>
        <AMA_Shipping>
            <version>1.0.0</version>
        </AMA_Shipping>
    </modules>
    <global>
        <models>
            <amashipping>
                <class>AMA_Shipping_Model</class>
                <resourceModel>amashipping_resource</resourceModel>
            </amashipping>
            <amashipping_resource>
                <class>AMA_Shipping_Model_Resource</class>
                <entities>
                    <store>
                        <table>ama_store</table>
                    </store>
                </entities>
            </amashipping_resource>
        </models>
        <resources>
            <amashipping_setup>
                <setup>
                    <module>AMA_Shipping</module>
                </setup>
            </amashipping_setup>
        </resources>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage_shipping_method_available>AMA_Shipping_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <amashipping>
                <class>AMA_Shipping_Helper</class>
            </amashipping>
        </helpers>
        <events>
            <admin_system_config_changed_section_carriers>
                <observers>
                    <amashipping>
                        <type>singleton</type>
                        <class>AMA_Shipping_Model_Observer</class>
                        <method>changedCarrirersAmashippingStoreadd</method>
                    </amashipping>
                </observers>
            </admin_system_config_changed_section_carriers>
        </events>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <AMA_Shipping>
                    <files>
                        <default>AMA_Shipping.csv</default>
                    </files>
                </AMA_Shipping>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <layout>
            <update>
                <checkout>
                    <file>amashipping/checkout.xml</file>
                </checkout>
            </update>
        </layout>
        <translate>
            <modules>
                <AMA_Shipping>
                    <files>
                        <default>AMA_Shipping.csv</default>
                    </files>
                </AMA_Shipping>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <amashipping>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>amashipping/carrier</model>
                <name>Fixed</name>
                <price>5.00</price>
                <title>Store Pickup</title>
                <type>1</type>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <handling_type>1</handling_type>
                <storedelete>0</storedelete>
            </amashipping>
        </carriers>
    </default>
</config>
